body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 145, 145);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    background-color: #00000056;
    border-radius: 10px;
    
}
.calculator-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
button{
    width: 150px;
    height: 55px;
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;;
    margin: 2px;
}
input{
    display: flex;
    margin-bottom: 25px;
    width: 450px;
    height: 60px;
    font-size: 20px;
    text-align: right;
    background-color: white;
}
.operator {
    background-color: #FF8F1F;    
}
.equal {
    background-color: #FF8F1F;
}
.number {
    background-color: #217C7E;
}
#decimal {
    background-color: #217C7E;
}
#clear,#backspace {
    background-color: rgba(30, 143, 255, 0.514);
}